body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.data-list {
  background-color: #fff;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 20px;
  border-collapse: collapse;
  display: inline-block;

  &__user {
    th,
    td {
      list-style: none;
      padding: 8px;
      word-wrap: break-word;
      border-top: 1px solid #ccc;

      button {
        cursor: pointer;
      }
    }

    thead &:first-of-type th,
    thead &:first-of-type td {
      border-top: none;
    }

    tbody & input {
      display: none;
    }

    &__actions {
      width: 250px;
      text-align: center;
    }
  }

  &__edit-btn,
  &__save-btn {
    margin-right: 5px;
    display: inline-block;
    font-size: 1em;
  }

  &__save-btn {
    display: none;
  }

  &__delete-btn {
    font-size: 1em;
  }

  &__btn-add-user {
    width: 100%;
    font-size: 1em;
  }

  input {
    width: 100%;
    font-size: 1em;
  }
}
